html, button, input,
select, texarea{
	color: #222;

}
body{
	font-size: 1em;
	line-height: 1.4px;
	font:16px helvetica;
}
hr{
	display: block;
	height: 1px;
	border: 0px;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0px;
	font-family: 'Shadows Into Light', cursive;

}
h2{
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Acme', sans-serif;
	font-family: 'Cookie', cursive;
		text-shadow:4px -4px 24px #1020cc;
}
h3{

}
.container{
	width: 90%;
	margin: 0 5%
}

/* 
margin arriba derecha abajo izquierda;
margin arriba-abajo izquierda-derecha
*/
.header-container {
	border-bottom: 20px solid #e44d26
}
.footer-container,
.main aside{
	border-top: 20px solid #e44d26
}
.header-container,
.footer-container,
.main aside{
	background: #f16529
}
nav ul{
	margin: 0;
	padding: 0;

}
nav a {
	display: block;
	margin-bottom: 10px
	padding:15px 0;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: rgba(215, 135, 44, 0.9);
	background: rgba(215, 135, 44, 0.9);
	color: rgba(215, 135, 44, 0.9);
	

}
nav a:hover,
nav a:visited {
	color: white;

}
nav a:hover{
	text-decoration: underline;
}
.main {
	padding: 30px 0;

}
.main article h1{
	font-size: 2em;
}
.main aside{
	color:white;
	padding: 0px 5% 10px;
}
.footer-container footer{
	color: white;
	padding: 20px 0;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}
@media only screen and (min-width: 480px){
	h1 {
		color: red;
		font-family: 'Shadows Into Light', cursive;
    font-family: 'Acme', sans-serif;
	}
	nav a{
		float: left;
		width: 27%;
		margin: 25px 2%;
		margin-bottom: 0;

	}
	nav li:first-child a{
		margin-left: 0;

	}
	nav li:last-child a{
		margin-right: 0;

	}
	nav ul li{
		display: inline;
	}
} /* 480 PX */
@media only screen and (min-width: 760px){
	.title{
		float: left;
		text-shadow:5px 10px 14px #000000;

	}
	nav {
		float: right;
		width: 38%;

	}
	.main aside {
		float: right;
		width: 28%;

	}
	.main article{
		float: left;
		width: 57%;
	}
}/* 780 PX */
@media only screen and (min-width: 1100px){
	.content{
		width: 1026px;
		margin: 0 auto;
	}
